<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Búsqueda</title>
</head>
<body>
    <h1>Detalles del Ingrediente </h1>
    <p>Nombre: {{ ingredientes.nombre }}</p>
    <p>Descripción: {{ ingredientes.calorias }}</p>
    
    {% if ingredientes.es_sano == 1 %}
        <p>Este alimento es sano</p>
    {% else %}
        <p>Este alimento no es sano</p>
    {% endif %}

</body>
</html>
